.body-container 
{
    /*padding: 0px 2px !important;*/
    font-family: "Oswald";
    background-color: #2b0053;
    color: aliceblue;
}
header 
{
    position: sticky;
    z-index: 999;
    top: 0;
    width: 100%;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color:#824eb3;

}
.ul-top,
a
{
    display: flex;
    gap: 27px; 
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 800;
    font-family: "Roboto";
    text-decoration: none;
    color: #000000;
    transition: 1s;
}
#home:hover,
#projects:hover,
#about:hover,
#contact:hover
{
    cursor: pointer;
    color: #ffffff;
    transition: 1s;
    transform: scale(1.1);
    
}
.icons-top 
{
    display: flex;
    gap: 34rem; 
}
#favio-icon-top
{
    transition: 1s;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    
}
#favio-icon-top:hover
{
    transition: 1s;
    transform: scale(1.1);
}
#butterfly-icon-top
{
    transition: 0.6s;
    color: #581cfd;
    font-size: 30px;
}
#butterfly-icon-top:hover
{
    transition: 1s;
    color: #982aff;
  

}
                              /*INITAL PHASE*/

.inital-part
{
    color: #ffffff;
    display: flex;
    justify-content: center;
    
}
.inital-part h1
{
    font-family: "Oswald";
    padding: 20PX;
    font-size: 80px;
}
.highlighted-text
{
    transition: 1s;
    font-weight: 900;
}
.highlighted-text:hover
{
    color: #5300ce;
    transition: 1s;
    transform: scale(1.1);
}
#butterfly-inital-part
{
    transform: rotate(25deg);
    font-size: 135px;
    transition: 0.8s;
}
#butterfly-inital-part:hover
{
    color: #8401fe;
    
}

                                 /*DETAILS ABOU ME*/

.details-about-me
{
    font-family: sans-serif;
    font-weight: 800;
    padding: 40px;
    width: 100%; 
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.details-about-me h2
{
    margin-left: 140px;
    justify-content: center;
    color: #cf7b7b;
}
.description
{
    margin-left: 140px;
    font-size: 20px;
}
.description:hover
{
    color: #000000;
    transition: 1s;
}
.Contatct-links
{
    display: flex;
    gap: 20px;
    padding-left: 140px;
}
.Contatct-links a
{
    font-size: 40px;
    color: #393939;
}
.Contatct-links a:hover
{ 
    color: #ffffff;
    transition: 1s;
    transform: scale(1.1);
}
.Contatct-links button
{
    transition: 1s;
    font-size: 20px;
    padding: 10px;
    background-color: #7934a7;
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 30px;
    display: flex;
    gap: 10px;
}
.Contatct-links button:hover
{
    transition: 1s;
    color: #0c0b0b;
    background-color: #ffffff;
    border-color: #7934a7;
    font-family: sans-serif;
}

                               /*VIDEO-CONTENT*/

.video-content
{
    display: flex;
    justify-content: center;
    padding: 140px 40px;
}         

                            /* KNOWLEDGE */

.knowledge
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 180px;
    transition: 2s;

}
.knowledge h2
{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 40px;
    padding: 30px;
    background-color: #9733f5;
    color: #ffffff;
    margin-bottom: 30px;
    border: 2px solid white;
    border-radius: 40px;
    transition: 1s;
}
.knowledge h2:hover
{
    transition: 1s;
    background-color: #cfcfcf;
    color: #9733f5;
    border-color: #000000;
}
#knowledge-img
{
    width: 50%;
    margin-top: 20px;
    cursor: pointer;
    transition: 2.5s;
}
#knowledge-img:hover
{
    transform: scale(1.4);
    transition: 2.5s;
}


                                /*PROJECTS*/
.projects
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
    /*background-color: #c49999;*/
}
.projects h2
{
    font-family: "Poppins", sans-serif;
    color: #ffb794;
    font-size: 70px;
}
.projects i
{
    font-size: 80px;
    margin-bottom: 30px;
}
.projects summary
{
    color: #ffb794;
    margin-bottom: 40px;
    font-size: 30px;
}
#observation
{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-left: 70px;
    color: #bab5aa;
}
.projects details
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    padding: 15px;
}
                /*PIANO*/
.piano-project
{
    margin: 25px;
    padding: 20px;
    border: 3px solid rgb(255, 255, 255);
    display: flex;
}
.piano-project img
{
    width: 22%;
}
.piano-project p
{
    font-size: 24px;
    margin-left: 8px;
}
            /*MEMORY*/

.memory-project
{
    margin: 25px;
    padding: 20px;
    border: 3px solid white;
    display: flex;
}
.memory-project img
{
    width: 14%;
}
.memory-project p
{
    font-size: 24px;
    margin-left: 8px;
}

            /*POKEDEX*/

.pokedex-project
{
    padding: 20px;
    border: 3px solid white;
    display: flex;
    margin: 25px;
}
.pokedex-project img
{
    width: 25%;
}
.pokedex-project p
{
    font-size: 24px;
    margin-left: 8px;
}


.main-about-me
{
    margin-top: 160px;
    margin-bottom: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-about-me h2
{
    color: #ffb794;
    margin-bottom: 10px;
    font-size: 70px;
}
#text-about-me
{
    margin: 20px;
    padding: 30px;
    font-size: 24px;
    color: #000000;
    border: 6px solid rgb(19, 10, 30);
    background-color: rgb(193, 193, 193);
    border-radius: 60px;
}
#languages
{
    display: flex;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: 1.5s;
    font-weight: 200;

}
#conecte-se-comigo
{
    margin-top: 15px;
    font-size: 25px;
    transition: 1.5s;
    cursor: pointer;
    color: white;
    font-weight: 200;

}
#languages:hover,
#conecte-se-comigo:hover
{
    transform: scale(1.1);
    transition: 2s;
    font-weight: 400;
}
#curriculum
{
    margin-top: 25px;
    font-size: 20px ;
    transition: 2s;
    border: 2px solid #000000;
    padding: 12px;
    border-radius: 60px;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
    cursor: pointer;
}
#curriculum:hover
{
    transform: scale(1.1);
    transition: 1s;
    color: #ffffff;
    background-color: #000000;
    border-color: #ffffff;

}
#curriculum i
{
    font-size: 25px;
    font-weight: 40;
}
footer
{
    display: flex;
    justify-content: center;
    margin: 15px;
}