/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Headline:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Headline:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Headline:wght@200..700&display=swap');

/*font-family: "Press Start 2P", system-ui;
font-family: "Roboto", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "Press Start 2P", system-ui;
font-family: "Roboto", sans-serif;
font-family: "Press Start 2P", system-ui;*/


.body-container 
{
    /*padding: 0px 2px !important;*/
    font-family: "Oswald";
    background-color: #2b0053;
    color: aliceblue;
}
header 
{
    position: sticky;
    z-index: 999;
    top: 0;
    width: 100%;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color:#3f2e82;
}
ul
{
    display: flex;
    cursor: pointer;
}
.ul-top
{
    font-size: 15px;
    display: flex;
}
.ul-top,
a
{
    gap: 27px; 
    cursor: pointer;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 800;
    font-family: "Roboto";
    text-decoration: none;
    color: #7f7f7f;
    transition: 1s;
}
.ul-top, a:hover
{
    color: #ffffff;
    transition: 1s;
    transform: scale(1.1);
}
.icons-top 
{
    display: flex;
    gap: 38rem; 
}
#favio-icon-top
{
    transition: 1s;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
#favio-icon-top:hover
{
    transition: 1s;
    transform: scale(1.1);
}
#butterfly-icon-top
{
    transition: 0.6s;
    color: #7828e9;
    font-size: 30px;
}
#butterfly-icon-top:hover
{
    transition: 1s;
    color: #350474;
}
                              /*INITAL PHASE*/

.inital-part
{
    color: #ffffff;
    display: flex;
    justify-content: center;
}
.inital-part h1
{
    font-family: "Oswald";
    padding: 20PX;
    font-size: 80px;
}
.highlighted-text
{
    transition: 1s;
    font-weight: 900;
   color: #7934a7;
}
.highlighted-text:hover
{
    color: #6b08ff;
    /*color: #5300ce;*/
    transition: 1s;
    transform: scale(1.1);
}
#butterfly-inital-part
{
    transform: rotate(25deg);
    font-size: 135px;
    transition: 0.8s;
    color:#7934a7
}
#butterfly-inital-part:hover
{
    color: #6b08ff;
}
                                 /*DETAILS ABOU ME*/
.details-about-me
{
    font-family: sans-serif;
    font-weight: 800;
    padding: 40px;
    width: 100%; 
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.details-about-me h2
{
    font-family:  sans-serif;
    font-weight: 130px;
    margin-left: 140px;
    justify-content: center;
    color: #e2ba89;
}
.description
{
    margin-left: 140px;
    font-size: 20px;
    transition: 1s;
}
.description:hover
{
    color: #686868;
    transition: 1s;
}

/*Contato*/
.Contato-links
{
    display: flex;
    gap: 20px;
    padding-left: 140px;
}
#gitHub-top-description,
#linkedin-top-description,
#email-top-description
{
    font-size: 40px;
    color: #393939;
}
#gitHub-top-description:hover,
#linkedin-top-description:hover,
#email-top-description:hover
{ 
    color: #ffffff;
    transition: 1s;
    transform: scale(1.1);
}
#ver-projetos
{
    font-family: "Roboto", sans-serif;
    transition: 1s;
    font-size: 15px;
    padding: 15px;
    color: #000000;
    border: 2px solid #a8a672;
    background-color: #2b0053;
    border-radius: 30px;
    display: flex;
}
#ver-projetos i
{
    margin-left: 6px;
}
#ver-projetos:hover
{
    position: relative;
    color :#010101;
    transition: 1s;
    background-color: #ffbaba;
    font-family: "Roboto", sans-serif;
    border-color: yellow;
}

                               /*VIDEO-CONTENT*/

.video-content
{
    display: flex;
    justify-content: center;
    padding: 140px 40px;
}         
                     /* KNOWLEDGE */
.knowledge
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 180px;
    transition: 2s;
}
.knowledge h2
{
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    justify-content: center;
    padding: 22px;
    color: #ffb794;
    margin-bottom: 30px;
}

#knowledge-img
{
    width: 50%;
    margin-top: 20px;
    cursor: pointer;
    transition: 2.5s;
    border: 4px solid #000000;
}
#knowledge-img:hover
{
    transform: scale(1.4);
    transition: 2.5s;
}


                                /*PROJECTS*/
.projects
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
    /*background-color: #c49999;*/
}
.projects h2
{
    font-family: "Poppins", sans-serif;
    color: #ffb794;
    font-size: 70px;
}
.projects i
{
    font-size: 80px;
    margin-bottom: 30px;
}
.projects summary
{
    color: #ffb794;
    margin-bottom: 40px;
    font-size: 30px;
}
#observation
{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-left: 70px;
    color: #bab5aa;
}
.projects details
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    padding: 20px;
}
                /*PIANO*/
.piano-project
{
    margin: 25px;
    padding: 20px;
    border: 3px solid #ffffff;
    display: flex;
}
.piano-project img
{
    width: 22%;
}
.piano-project p
{
    font-size: 24px;
    margin-left: 8px;
}
.piano-project h3
{
    margin-top: 150px;
    font-size: 20px;
    color: #ffd877;
    cursor: pointer;
    padding: 15px;
    border-radius:25px;
    transition: 1.3s;
    border: 2px solid #ea9841;
}
            /*MEMORY*/

.memory-project
{
    margin: 25px;
    padding: 20px;
    border: 3px solid white;
    display: flex;
}
.memory-project img
{
    width: 14%;
}
.memory-project p
{
    font-size: 24.4px;
    margin-left: 8px;
}
.memory-project h3
{
     margin-top: 180px;
    font-size: 20px;
    color: #ffd877;
    cursor: pointer;
    padding: 15px;
    border-radius:25px;
    border: 2px solid #ea9841;
    transition: 1.3s;

}

            /*POKEDEX*/

.pokedex-project
{
    padding: 20px;
    border: 3px solid rgb(255, 255, 255);
    display: flex;
    margin: 25px;
}
.pokedex-project img
{
    width: 22%;
}
.pokedex-project p
{
    font-size: 22px;
    margin-left: 8px;
}

.pokedex-project h3
{
    margin-top: 180px;
    font-size: 20px;
    color: #ffd877;
    cursor: pointer;
    padding: 15px;
    border-radius:25px;
    border: 2px solid #ea9841;
    transition: 1.3s;
}





/*ABOUT ME*/




.main-about-me
{
    width: 100%;
    padding:40px;
    display: flex;
    flex-direction: column;
}
.sobre-mim 
{
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffb794;
    font-size: 40px;
}
.about-me-informations
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    margin-bottom: 40px;
}
.main-about-me img
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 22%;
    border-radius: 50%;
    border: 6px solid #ffffff;
}
#text-about-me
{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding: 20px;
    color: #ffffff;
    border: 3px solid #ffea03;
    border-radius: 20px;
}
#languages
{
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: 400;
    padding-left: 20px;
}
#languages span
{
    font-size: 30px;
    color: #ffb794;
    font-weight: 600;
    padding: 4px;
}
#conecte-se-comigo
{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
    cursor: pointer;
    margin-top: 18px;
    margin-left: 24px;
    color: #ffb794;
    width: 15%;
    padding: 12px;
    border: 2px solid #fff4f4;
    border-radius: 30PX;
}
#conecte-se-comigo:hover
{
    color: #ffffff;
    border-color: #fbff00;
}
#curriculum
{
    font-family: "Roboto", sans-serif;
    margin-left: 500PX;
    font-weight: 600;
    margin-top: 15px;
    font-size: 20px ;
    transition: 2s;
    border: 2px solid #000000;
    width: 13%;
    padding: 15px;
    border-radius: 60px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #5a65e2;
    cursor: pointer;
}
#curriculum:hover
{
    font-family: "Roboto", sans-serif;
    transform: scale(1.1);
    transition: 1s;
    color: #ffffff;
    border-color: #fffdfd;
}
#curriculum i
{
    font-size: 25px;
    font-weight: 40;
}

.formation
{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 250px;
}
.formation h2
{
    font-family: "Poppins", sans-serif;
    font-size: 42px;
    color: #ffb794;
    margin-right: 30px;
    margin-bottom: 35px;
}
.formation img
{
    width: 12%;
    margin-right: 60px;
    border: 3px solid #f66f00;
}
.formation p 
{
    font-size: 22px;
    width: 75%;
    line-height: 1.5;
}


.curses
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    font-family: "Poppins", sans-serif;
    color:#c0c0c0 ;
    max-width: 190%;
}
.curses div {
   display: fixed;
    align-items: center;
    transition: 1s;
    padding: 12px;
    margin-bottom: 40px;
    border: 4px solid #ffffff;
    width: 800px;
    height: auto;
}
.curses h2
{
    color: #ffb794;
    font-size: 60px;
    margin-bottom: 15px;
}
.curses summary
{
    
    color: #ffb794;
    margin-bottom: 50px;
    margin-left: 50px;
    font-size: 25px;
}
#detalhes
{
    display: flex;
    flex-direction: column;
}

div span p
{
    font-family: "poppins", sans-serif;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    transition: 1s;
    margin-top: 30px;
    margin-left: 290px;
    width: 25%;
    padding:18px;
    border-radius: 65px;
    border: 2px solid #ffee00;
}
.curses span p:hover
{
    background-color: #000000;
    border-color: #fffb00;
    color: #ffffff;
    transition: 1s;
}
.udemy img,
.gft img,
.front-end img,
.alura img
{
    width: 140px;
    margin-left: 310px;
    margin-bottom: 20px;
}












.redirect
{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 60px;
    transition: 1s;
    color: #000000;
    padding: 20px;
    width: 68%;
    margin-left: 220px;
    border: 4px solid rgb(149, 21, 204);
    border-radius: 20px;
}
.redirect a
{
    font-size: 25px;
    cursor: pointer;
}
.redirect a:hover
{
    transform: scale(1.1);
    transition: 1s;
    color: #ffffff;
}

footer
{
    font-family: "poppins", sans-serif;
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 16px;
}