/*body
{
    display: flex;
    background-color:blueviolet ;
}
.top
{
    display: flex;
    flex-direction: column;
}
.ul-top
{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 50%;
}
footer
{
    display: flex;
    flex-direction: row;
    bottom: 0;
}/*