
/*Roots Things*/

:root
{
    --primary-color:#6A4BC0;
    --icon-color:#6A4BC0;
    --icon-color2:#6a36b4;
    --constrast-color:#9674f4d1;
    --color:#D9C7FF;
    --color2:#B3D4FF;
    --color3: #6a36b4;
    --color4:#630fff;
    --font-color:#EAF3FF;
    --background-color: #1A1039;
    --background-color2:#6a4bca;
    --border-color:#845fe8;
    --border-color2:#5404c4;
    --line-color: #000000;
}
/*------Body things-------------*/

body
{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color:var(--font-color);
    font-family: "Roboto", sans-serif;
    width: 100%;
}

/*-------Body Header Things-------*/

header
{
    position: sticky;
    top: 0;
    background-color:var(--background-color) ;
    z-index: 999;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 3.5px solid var(--line-color); 
}
.top
{
    margin-left: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
}
.menu-top ul
{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    font-family: "Oswald", sans-serif;
    justify-content: space-between;
    list-style: none;
    font-size: 1rem;
   font-weight: 900;
}
ul li
{
    transition: 0.6s;
}  
#Home:hover,
#Projects:hover,
#About:hover,
#Contact:hover
{
    cursor: pointer;
    font-weight: 800;
    /* font-size: 1.4rem;*/
    transform: scale(1.1);
    color: var(--constrast-color);
}
.logoSite
{
    cursor: pointer;
    margin-left: 16.5rem;
}
.icon-top
{
    color: var(--icon-color);
    font-size: 2rem;
    transition: 500ms;
    padding-left:34rem;
    cursor: pointer;
}
.icon-top:hover
{
    color: #581cfd;
    transition: 500ms;
}

/*-------Body Main Things---------*/
#icon-main 
{
    
    color:  #400cd1;
    font-size: 6rem;
    rotate: calc(+52deg);
    z-index:-1;
    position: absolute;
    margin-bottom: 3080;
    padding-left: 20rem;
}
.inital-phase
{
    width: 100%;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inital-phase p
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8;
    transition: 2.4;
    margin: 5px;
    margin-left: 40px;
    color:#ffffff;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 800;
}
#part-one
{
    backface-visibility: visible;
    font-size:6rem;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}
#part-two
{
    font-size: 4rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    color: var(--primary-color);
}
.inital-phase button
{
    display: flex;
    cursor: pointer;
    background-color:#bfa8ffc0;
    margin-right: 780px;
    margin-top: 0.75rem;
    width: 20%;
    height: 5%;
    border-radius: 30px;
    transition: 2.5;
    border: 3.5px solid #000000;
    gap: 2px;
}
.inital-phase button:hover
{
    color: #ffffff;
    background-color: #b3abdb;
    transition: 2.5;
}
#icon-arrow
{
    rotate: calc(330deg);
    font-size: 30px;
    font-weight: 800;
    color:#000000;
}
/*-------Description about me-----------*/
.details-about-me
{
    padding: 2rem;
    margin: 2rem;
    display: flex;
    border-radius: 15rem;
    margin-bottom: 1.5rem;
    width: 75vw;
    height: 15vh;
    background-color:#cec6ff85;
    border: 3px solid black;
}
.details-about-me:hover
{
    background-color: #cdc6ffa5;
}
.descrition-about-me p
{
    cursor: pointer;
    font-size: 1.4rem;
    /*see that after*/
    font-family:'Times New Roman', Times, serif;
}
.descrition-about-me-connect
{
    display: flex;
    flex-direction: row;
    margin-left:3rem;
    gap:1.5rem;
    font-size: 1rem;
}
#gitHub-top-description,
#linkedin-top-description,
#email-top-description
{
    font-size: 2rem;
    color: #ffffff;
}

/*Body Main Video*/

.video-content iframe
{
    padding: 2%;
    margin-left:20rem;
}





























/*footer Things*/
footer
{
    font-family: "Roboto"; 
    font-weight: 400;
    padding-bottom: 0;
    width: 100vw;
    height: 20vh;
    transition: 1s;
    color: #ffffff;
    /*background-image: url('../images/header-image.png'); 
    border-image: 4px solid var(--line-color);*/
}
footer p
{
    color: var(--color);
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}
footer:hover
{
    
    font-family: "Roboto"; 
    transform: scale(1.1);
}

